<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.versebe">




    <!-- 인터넷 권한 선언-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 인터넷 연결 확인-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- camera, gallery -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />




    <application
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"



        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VerseBe">
        <activity
            android:name=".user.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".user.RegisterActivity"/>


        <activity
            android:name=".main_page.MainActivity"/>


        <activity
            android:name=".user.ModifyActivity_name"/>
        <activity
            android:name=".user.ModifyActivity_email"/>
        <activity
            android:name=".user.ModifyActivity_phone"/>
        <activity
            android:name=".user.ModifyActivity_password"/>
        <activity
            android:name=".user.SearchActivity"/>
        <activity
            android:name=".user.MemberActivity"/>
        <activity
            android:name=".user.PosterActivity"/>
        <activity
            android:name=".user.CommentActivity"/>
        <activity
            android:name=".user.MakePosterActivity"/>
        <activity
            android:name=".user.ChoiceLayout"/>
        <activity
            android:name=".user.MakePosterActivity2"/>
        <activity
            android:name=".user.LayoutActivity"/>




    </application>

</manifest>